%script{:src => "/javascript/set_animation_frame.js"}
%script{:src => "/javascript/arena.js"}
%script{:src => "/javascript/tile.js"}
%script{:src => "/javascript/adjacent_tiles.js"}
%script{:src => "/javascript/bot.js"}
%script{:src => "/javascript/bot_behaviour.js"}
%script{:src => "/javascript/bot_brain.js"}
%h1 arena

#arena_controls
  %select#add_bot.form-control.inline
    %option{:value => ""}= "add bot"
    - @bots.each do |bot|
      %option{:value => bot.id}= bot
  %a#start_game.btn.btn-success{:href => "#", :title => "start game"} start game
  %a#stop_game.btn.btn-danger{:href => "#", :title => "stop game"} stop game

#arena_content
  .table
    .cell#arena_cell
      %canvas#arena
    .cell#bot_list
