!!!
%html
  %head
    %title BotFight
    %meta{charset: "utf-8"}/
    %link{:href => "/stylesheets/reset.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/bootstrap/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/pygments.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/application.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/bots.css", :rel => "stylesheet"}/

    %script{:src => "http://code.jquery.com/jquery-1.10.2.min.js"}
    %script{:src => "/javascript/bootstrap/bootstrap.min.js"}
    /%script{:src => "javascript/application.js"}


  %body
    #wrapper
      #header
        #navigation.navbar.navbar-fixed-top{:role => "navigation"}
          .container
            %ul.nav.navbar-nav
              %li.active
                %a{:href => "/", :title => "Home"} Home
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  Bots
                  %b.caret
                %ul.dropdown-menu
                  - Bot.all.each do |bot|
                    %li
                      %a{:href => "/bots/#{bot.id}", :title => bot}= bot
                  %li.divider
                  %li
                    %a{:href => "/bots/new", :title => "create new bot"}
                      %span create new bot
      #content
        =yield

      #footer
