body {
  padding-top: 50px;
}

label {
  width: 60px;
}

#wrapper {
  width: 66%;
  margin: auto;
}

#navigation {

  .container {
    width: 66%;
    margin: auto;
    padding: 0;
    border-bottom: 1px solid black;
  }
}

.table {
  display: table;
  .row {
    display: table-row;
    .cell {
      display: table-cell;
    }
  }
}

.inline {
  display: inline-block;
}
