#add_bot {
  width: 150px;
  margin-bottom: 10px;
}

#stop_game {
  display: none;
}

#arena_content {
  .table {
    display: table;
    border-spacing: 10px;
    .cell {
      display: table-cell;
      text-align: left;
      vertical-align: top;
    }
  }
}

#arena_cell {
}

#bot_list {
  width: 550px;
  max-width: 550px;
  .table {
    border-spacing: 0;
    margin-bottom: 5px;

    .cell {
      text-align: left;
      vertical-align: middle;

      &.bot_actions {
        height: 20px;
        text-align: right;
      }
    }
  }

  .bot {
    .color_label {
      vertical-align: middle;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      -moz-border-radius: 50%;
    }

    .name {
      display: inline-block;
    }
  }

}
