#bot_form {
  ul {
    li {
      margin: 5px;
    }
  }

  .table {
    margin-bottom: 0;
    .cell {
      vertical-align: middle;
    }
  }

  .bot_author, .bot_name {
    width: 200px;
  }

  .color {
    width: 200px;
  }

  .bot_color {
    width: 165px;
  }

  .bot_code {
    height: 400px;
  }
}

.bot {
  .code {
  }
}
