%h1 existing bots
- @bots.each do |bot|
  %ul
    %li
      = ">"
      %a{:href => "/bots/#{bot.id}", :title => bot}
        = bot
%a{:href => '/bots/new', :title => "create new bot"}
  = "create new bot"
