%h1 create a new bot
%form#new_bot_form{:action => "/bots/create", :method => "post"}
  %ul
    %li
      %input#new_bot_name.form-control{:type => "text", :name => "bot[name]", :placeholder => "Bot Name", :value => @bot.name}
    %li
      %input#new_bot_author.form-control{:type => "text", :name => "bot[author]", :placeholder => "Author", :value => @bot.author}
    %li
      %textarea#new_bot_code.form-control{:name => "bot[code]", :placeholder => "code"}
        = @bot.code
    %li
      %input.btn{:type => "submit", :value => "save"}


